{% extends 'layout_login.html.twig' %}

{% block title %}
	{{ parent() }}
	Connexion!
{% endblock %}
{% block header %}
	{{ parent() }}
{% endblock %}

{% block Content %}
	{{ parent() }}
	<div class="row">
		<div class="col s12 m6 l4 offset-m-3 offset-l4" style="margin-top:8%;">
			<div class="card blue-grey darken-1" >
				<div class="card-content white-text">
					<span class="card-title">Connexion</span>
					<form method="post">
						{% if error %}
							<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
						{% endif %}

						{% if app.user %}
							<div class="">
								Bienvenue:
								{{ app.user.userIdentifier }},
								<a href="{{ path('app_logout') }}">Logout</a>
							</div>
						{% else %}
							<div class="row">
								<div class="input-field col s12">
									<i class="material-icons prefix">account_circle</i>
									<input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="email" required autofocus>
									<label for="username">Email</label>
								</div>
							</div>
							<div class="row">
								<div class="input-field col s12">
									<i class="material-icons prefix">password</i>
									<input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>
									<label for="password">Password</label>
								</div>
							</div>


							<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
							<button class="btn btn-lg btn-primary" type="submit">
								Connexion
							</button>
						{% endif %}
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block footer %}{% endblock %}
{% block javascript %}{% endblock %}
