{% extends 'layout_login.html.twig' %}

{% block title %}
	{{ parent() }}
	Connexion!
{% endblock %}
{% block header %}
	{{ parent() }}
{% endblock %}

{% block Content %}
	{{ parent() }}
	<div class="row">
		<div class="col s12 m6 l4 offset-m-3 offset-l4" style="margin-top:8%;">
			<div class="card blue-grey darken-1">
				<div class="card-content white-text">
					<span class="card-title" style="text-align: center;">Connexion</span>
					<form method="post">
						{% if error %}
							<div class="row center-align">
								<div class="col s6 offset-s3 pink white-text" style="padding: 1vw;">
									{{ error.messageKey|trans(error.messageData, 'security') }}
								</div>
							</div>
						{% endif %}

						{% if app.user %}
							<div class="row center-align">
								<div class="col s6 offset-s3 green white-text" style="padding: 1vw;">
									Bienvenue:
									{{ app.user.userIdentifier }},
									<a href="{{ path('app_logout') }}">Logout</a>
								</div>
							</div>
						{% else %}
							<div class="row">
								<div class="input-field col s12">
									<i class="material-icons prefix">account_circle</i>
									<input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="email" required autofocus>
									<label for="username">Email</label>
								</div>
							</div>
							<div class="row">
								<div class="input-field col s12">
									<i class="material-icons prefix">lock</i>
									<input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>
									<label for="password">Mot de Passe</label>
								</div>
							</div>
							<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
							<div class="center-align">
								<button type="submit" class="btn-flat btn-large orange">Connexion</button>
							</div>
						{% endif %}
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block footer %}{% endblock %}
{% block javascript %}{% endblock %}
