{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}Arrosage
{% endblock %}
{% block header %}
	{% include "header.html.twig" %}
	{{ parent() }}
{% endblock %}

{% block Content %}
	{{ parent() }}
	{% if app.user %}
		<div class="row">
			<div class="col s12 m6 l6">
				<div class="col s12" style="height: 40%;">
					<div class="card blue-grey darken-1">
						<div class="card-content white-text">
							<span class="card-title center-align" style="margin-top: 1vw;">Plante</span>
							<div class="row">
								<div class="row">
									<div class="col s4">
										<img class="responsive-img" alt="Image de la plante" width="140" src="{{ asset(images_dir ~ plante.imagePlante) }}"/>
									</div>
									<div class="col s8">
										<form action="#" method="#">
											<div class="row">
												<div class="input-field col s6">
													<input disabled value="{{ plante.nom }}" id="disabled" type="text" class="validate">
													<label for="disabled">Nom</label>
												</div>
												<div class="input-field col s6">
													<input disabled value="{{ plante.especePlante }}" id="disabled" type="text" class="validate">
													<label for="disabled">Espèce de la Plante</label>
												</div>
											</div>
											<div class="row">
												<div class="input-field col s12">
													<input disabled value="{{ plante.dateAchat ? plante.dateAchat|date('Y-m-d H:i:s') : '' }}" id="disabled" type="text" class="validate">
													<label for="disabled">Date d'Achat</label>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col s12 m6 l6">
				<div class="col s12">
					<div class="card blue-grey darken-1">
						<div class="card-content white-text">
							<span class="card-title center-align">Créer un besoin</span>
							<form name="form_arrose" action="" method="post">
								<div class="row">
									<div class="input-field col s6">
										<input id="quantiteEau" type="number" class="validate">
										<label for="quantiteEau">Quantité en Eau</label>
									</div>
									<div class="input-field col s6">
										<input id="frecArrosage" type="number" class="validate">
										<label for="frecArrosage">Fréquence d'Arrosage</label>
									</div>
								</div>
								<div class="row">
									<div class="input-field col s12">
										<input disabled id="planteId" value="{{ plante.nom }}" id="disabled" type="text" class="validate">
										<label for="disabled">Non de la Plante</label>
									</div>
								</div>
								<div class="center-align" style="margin-top:1vw;">
										<button type="submit" data-p={{ plante.id }} class="marquer btn-flat btn-large orange">Marquer</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col s12 m10 l10 offset-m1 offset-l1">
				<div class="card blue-grey darken-1">
					<div class="card-content white-text">
						<span class="card-title center-align">Historique d'arrosage</span>
						{% if historiques is defined%}
							<table class="responsive-table striped centered">
								<thead>
									<tr>
										<th>Nom</th>
										<th>Espèce</th>
										<th>dateArrosage</th>
										<th>description</th>
									</tr>
								</thead>
								<tbody>
									{% for historique in historiques %}
										<tr>
											<td>{{ historique.plante.nom }}</td>
											<td>{{ historique.plante.especePlante }}</td>
											<td>{{ historique.dateArrosage ? historique.dateArrosage|date('Y-m-d H:i:s') : '' }}</td>
											<td>{{ historique.description }}</td>
										</tr>
									{% else %}
										<tr>
											<td colspan="7">Vous n'avez pas encore arrosé votre plante</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	{% endif %}
{% endblock %}
{% block footer %}
	{{ parent() }}
	{% include "footer.html.twig" %}
{% endblock %}
{% block javascript %}{% endblock %}
